## Reading delimited text files

### Useful functions

The pandas.read_table function allows you to read any delimited text file. It has some inputs that will be useful to reading our data files. 

Look at the documentation for the function (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_table.html ) and write a short description of what each of the inputs do below.

pandas.read_table(**filepath**, **sep**, **header**, **skiprows**, **skipfooter**)

* **filepath**: 

* **sep**: 

* **header**: 

* **skiprows**:

* **skipfooter**:

In [13]:
import pandas as pd

In [14]:
import os
import pandas as pd
os.chdir('/Users/brownscholar/Dropbox/BridgeUP_ClimateCoders/Data')
Palaui = pd.read_table('ramos2019-month.txt', skiprows = 95) #reads through the data & skips the first 95 rows of text

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  after removing the cwd from sys.path.

In [15]:
print(Palaui)

       age_AD  Sr/Ca-P.loba  d18O-P.loba  Unnamed: 3
0     1880.04        8.9575          NaN         NaN
1     1880.13        8.9354          NaN         NaN
2     1880.21        8.9133          NaN         NaN
3     1880.29        8.8912          NaN         NaN
4     1880.38        8.7993          NaN         NaN
5     1880.46        8.7901          NaN         NaN
6     1880.54        8.8492          NaN         NaN
7     1880.63        8.8583          NaN         NaN
8     1880.71        8.8268          NaN         NaN
9     1880.79        8.7871          NaN         NaN
10    1880.88        8.8729          NaN         NaN
11    1880.96        8.9196          NaN         NaN
12    1881.04        8.9583          NaN         NaN
13    1881.13        8.9654          NaN         NaN
14    1881.21        8.9278          NaN         NaN
15    1881.29        8.8773          NaN         NaN
16    1881.38        8.8355          NaN         NaN
17    1881.46        8.8212          NaN         NaN
18    1881.54        8.8220          NaN         NaN
19    1881.63        8.8699          NaN         NaN
20    1881.71        8.8823          NaN         NaN
21    1881.79        8.8908          NaN         NaN
22    1881.88        8.9396          NaN         NaN
23    1881.96        9.0037          NaN         NaN
24    1882.04        9.0392          NaN         NaN
25    1882.13        9.0351          NaN         NaN
26    1882.21        8.9818          NaN         NaN
27    1882.29        8.8961          NaN         NaN
28    1882.38        8.8536          NaN         NaN
29    1882.46        8.8307          NaN         NaN
...       ...           ...          ...         ...
1559  2009.96        8.9533      -4.8746         NaN
1560  2010.04        9.0208      -4.9282         NaN
1561  2010.13        8.9993      -4.7935         NaN
1562  2010.21        8.9201      -4.8767         NaN
1563  2010.29        8.8607      -4.8153         NaN
1564  2010.38        8.7094      -4.9368         NaN
1565  2010.46        8.6494      -5.0782         NaN
1566  2010.54        8.6446      -5.2134         NaN
1567  2010.63        8.7454      -5.1161         NaN
1568  2010.71        8.7837      -5.1229         NaN
1569  2010.79        8.7250      -5.1399         NaN
1570  2010.88        8.8623      -5.3202         NaN
1571  2010.96        8.9143      -5.1245         NaN
1572  2011.04        8.9518      -4.9925         NaN
1573  2011.13        8.9702      -4.8928         NaN
1574  2011.21        8.9666      -4.9026         NaN
1575  2011.29        8.9283      -4.9136         NaN
1576  2011.38        8.7843      -5.3589         NaN
1577  2011.46        8.7435      -5.4418         NaN
1578  2011.54        8.7418      -5.3586         NaN
1579  2011.63        8.7428      -5.3341         NaN
1580  2011.71        8.7967      -5.4405         NaN
1581  2011.79        8.7947      -5.3558         NaN
1582  2011.88        8.9103      -5.2825         NaN
1583  2011.96        8.9296      -5.0606         NaN
1584  2012.04        8.9210      -4.9801         NaN
1585  2012.13        8.9021      -5.0507         NaN
1586  2012.21        8.8832      -5.1213         NaN
1587  2012.29        8.8398      -4.9728         NaN
1588  2012.38        8.7847      -5.1519         NaN

[1589 rows x 4 columns]

This is a .txt file of our class schedule for the last week.

Doesn't look great! 

Firstly, it's not reading in the right names of the columns. To do so, we have to tell pandas what row to read in. In our case, that's the second row or in Python, row 1.

In [26]:
#pd.read_table('schedule.txt', header = 1)

You can also do this by skipping the unnecessary rows. We need to skip 1 row. Pandas identifies the header automically.

In [27]:
#pd.read_table('schedule.txt', skiprows = 1)

What is the delimiter in this case? Edit the function below to appropriately separate the data. 

*Hint: what should "sep" be?*

In [28]:
#pd.read_table('schedule.txt', header = 1, sep = '|')

There is also an empty row at the end. Edit the function to skip the final row.

*Hint: what should "skipfooter" be?*

In [29]:
#pd.read_table('schedule.txt', header = 1, sep = '|',skipfooter = 3,engine = 'python')

## Deleting rows or columns

Sometimes pandas.read_table() identifies extra columns and rows that we need to delete after reading in the data. 

### Useful functions

pandas_dataframe.drop(**labels**,**axis**)
* **labels**: "column name" or if you have multiple ["col_name1", "col_name2", "col_name3"]
* **axis**: axis = 0 for rows, axis = 1 for columns

For example: 

``df.drop(labels = ['Date','Topic'], axis = 1)``

Edit the function with all the changes you've made so far and drop any unnecessary columns.

In [30]:
#df = pd.read_table('schedule.txt', header = 1, sep = '|')
#df

In [25]:
Palaui.drop(labels = ['Unnamed: 3'], axis = 1)

       age_AD  Sr/Ca-P.loba  d18O-P.loba
0     1880.04        8.9575          NaN
1     1880.13        8.9354          NaN
2     1880.21        8.9133          NaN
3     1880.29        8.8912          NaN
4     1880.38        8.7993          NaN
5     1880.46        8.7901          NaN
6     1880.54        8.8492          NaN
7     1880.63        8.8583          NaN
8     1880.71        8.8268          NaN
9     1880.79        8.7871          NaN
10    1880.88        8.8729          NaN
11    1880.96        8.9196          NaN
12    1881.04        8.9583          NaN
13    1881.13        8.9654          NaN
14    1881.21        8.9278          NaN
15    1881.29        8.8773          NaN
16    1881.38        8.8355          NaN
17    1881.46        8.8212          NaN
18    1881.54        8.8220          NaN
19    1881.63        8.8699          NaN
20    1881.71        8.8823          NaN
21    1881.79        8.8908          NaN
22    1881.88        8.9396          NaN
23    1881.96        9.0037          NaN
24    1882.04        9.0392          NaN
25    1882.13        9.0351          NaN
26    1882.21        8.9818          NaN
27    1882.29        8.8961          NaN
28    1882.38        8.8536          NaN
29    1882.46        8.8307          NaN
...       ...           ...          ...
1559  2009.96        8.9533      -4.8746
1560  2010.04        9.0208      -4.9282
1561  2010.13        8.9993      -4.7935
1562  2010.21        8.9201      -4.8767
1563  2010.29        8.8607      -4.8153
1564  2010.38        8.7094      -4.9368
1565  2010.46        8.6494      -5.0782
1566  2010.54        8.6446      -5.2134
1567  2010.63        8.7454      -5.1161
1568  2010.71        8.7837      -5.1229
1569  2010.79        8.7250      -5.1399
1570  2010.88        8.8623      -5.3202
1571  2010.96        8.9143      -5.1245
1572  2011.04        8.9518      -4.9925
1573  2011.13        8.9702      -4.8928
1574  2011.21        8.9666      -4.9026
1575  2011.29        8.9283      -4.9136
1576  2011.38        8.7843      -5.3589
1577  2011.46        8.7435      -5.4418
1578  2011.54        8.7418      -5.3586
1579  2011.63        8.7428      -5.3341
1580  2011.71        8.7967      -5.4405
1581  2011.79        8.7947      -5.3558
1582  2011.88        8.9103      -5.2825
1583  2011.96        8.9296      -5.0606
1584  2012.04        8.9210      -4.9801
1585  2012.13        8.9021      -5.0507
1586  2012.21        8.8832      -5.1213
1587  2012.29        8.8398      -4.9728
1588  2012.38        8.7847      -5.1519

[1589 rows x 3 columns]

In [31]:
import matplotlib.pyplot as plt

In [ ]:
x= Palaui[""]