## Sorting values on Pandas

Sorting values can help you select data that is most interesting to you.

In [1]:
import pandas as pd
import numpy as np

We've explored two ways to do this using ``for`` loops:
* sorting values from maximum to minimum
* only printing data that is greater/lesser than some set value

I'm going to introduce two functions that would be helpful in getting you there.

**Sort values from maximum to minimum:**

pandas_dataframe.**sort_values**(by, ascending)
* by = name(s) of column to sort
* ascending = True: values will be in ascending order
* ascending = False: values will be in descending order

In [2]:
#Some random data to play around with the function
test_data = pd.DataFrame({'Jan':np.random.rand(50)},index = range(2000, 2050))
test_data.head()

           Jan
2000  0.387233
2001  0.971732
2002  0.608820
2003  0.450592
2004  0.164092

Let's sort the data from lowest to highest with the respect to the Jan column.

In [3]:
test_data.sort_values(by = 'Jan',ascending = True)

           Jan
2006  0.005535
2009  0.026715
2032  0.043709
2045  0.068821
2022  0.078541
2014  0.082212
2020  0.110887
2015  0.114029
2012  0.149233
2004  0.164092
2011  0.169996
2029  0.173795
2047  0.263570
2044  0.288660
2028  0.297261
2019  0.298012
2027  0.318511
2024  0.340087
2043  0.343771
2034  0.381028
2000  0.387233
2041  0.397336
2039  0.397566
2003  0.450592
2007  0.477188
2046  0.511573
2013  0.528470
2026  0.536333
2021  0.603853
2002  0.608820
2038  0.609787
2025  0.620420
2017  0.622648
2031  0.622935
2030  0.636920
2033  0.662035
2036  0.674320
2023  0.686518
2008  0.692837
2010  0.727539
2049  0.784498
2042  0.806723
2037  0.830923
2016  0.867932
2018  0.873933
2048  0.914976
2035  0.915277
2005  0.941963
2001  0.971732
2040  0.973662

Now, sort the data from highest to lowest.

In [4]:
test_data.sort_values(by = 'Jan',ascending = False)

           Jan
2040  0.973662
2001  0.971732
2005  0.941963
2035  0.915277
2048  0.914976
2018  0.873933
2016  0.867932
2037  0.830923
2042  0.806723
2049  0.784498
2010  0.727539
2008  0.692837
2023  0.686518
2036  0.674320
2033  0.662035
2030  0.636920
2031  0.622935
2017  0.622648
2025  0.620420
2038  0.609787
2002  0.608820
2021  0.603853
2026  0.536333
2013  0.528470
2046  0.511573
2007  0.477188
2003  0.450592
2039  0.397566
2041  0.397336
2000  0.387233
2034  0.381028
2043  0.343771
2024  0.340087
2027  0.318511
2019  0.298012
2028  0.297261
2044  0.288660
2047  0.263570
2029  0.173795
2011  0.169996
2004  0.164092
2012  0.149233
2015  0.114029
2020  0.110887
2014  0.082212
2022  0.078541
2045  0.068821
2032  0.043709
2009  0.026715
2006  0.005535

**Find all values that meet some condition:**

pandas_dataframe.**where**(cond)
* cond: save all values that meet the condition and replaces others with NaN

Say we want all values that are greater than 0.5

So, our condition is: ``all values >= 0.5``

In [6]:
cond = test_data >= 0.5
test_data.where(cond)

           Jan
2000       NaN
2001  0.971732
2002  0.608820
2003       NaN
2004       NaN
2005  0.941963
2006       NaN
2007       NaN
2008  0.692837
2009       NaN
2010  0.727539
2011       NaN
2012       NaN
2013  0.528470
2014       NaN
2015       NaN
2016  0.867932
2017  0.622648
2018  0.873933
2019       NaN
2020       NaN
2021  0.603853
2022       NaN
2023  0.686518
2024       NaN
2025  0.620420
2026  0.536333
2027       NaN
2028       NaN
2029       NaN
2030  0.636920
2031  0.622935
2032       NaN
2033  0.662035
2034       NaN
2035  0.915277
2036  0.674320
2037  0.830923
2038  0.609787
2039       NaN
2040  0.973662
2041       NaN
2042  0.806723
2043       NaN
2044       NaN
2045       NaN
2046  0.511573
2047       NaN
2048  0.914976
2049  0.784498

Set a new condition to apply to the test data.

In [5]:
cond = test_data <=0.5
test_data.where(cond)

           Jan
2000  0.387233
2001       NaN
2002       NaN
2003  0.450592
2004  0.164092
2005       NaN
2006  0.005535
2007  0.477188
2008       NaN
2009  0.026715
2010       NaN
2011  0.169996
2012  0.149233
2013       NaN
2014  0.082212
2015  0.114029
2016       NaN
2017       NaN
2018       NaN
2019  0.298012
2020  0.110887
2021       NaN
2022  0.078541
2023       NaN
2024  0.340087
2025       NaN
2026       NaN
2027  0.318511
2028  0.297261
2029  0.173795
2030       NaN
2031       NaN
2032  0.043709
2033       NaN
2034  0.381028
2035       NaN
2036       NaN
2037       NaN
2038       NaN
2039  0.397566
2040       NaN
2041  0.397336
2042       NaN
2043  0.343771
2044  0.288660
2045  0.068821
2046       NaN
2047  0.263570
2048       NaN
2049       NaN

### Return to the pandas review notebook (*pandas_review_name.ipynb*) and test out these functions on your ENSO index!